
<div class="greeting-card-container" (click)="test()">
    <!-- STARRRRRRR  -->
            <svg viewBox="0 0 512 512" width="100%" height="100%" class="svg-layer wave-fade-in-out" style="--anim-duration: 2.25s;">
                <svg viewBox="0 0 50 50" x="50" y="-150" width="50" height="50" *ngIf="emot != ''" >
                    <image [attr.href]="'assets/image/star.svg'" width="100%" height="100%" />
                </svg>
            </svg>
            <svg viewBox="0 0 512 512" width="100%" height="100%" class="svg-layer wave-fade-in-out" style="--anim-duration: 3s;">
                <svg viewBox="0 0 50 50" x="100" y="0" width="50" height="50" *ngIf="emot != ''" >
                    <image [attr.href]="'assets/image/star.svg'" width="100%" height="100%" />
                </svg>
            </svg>
            <svg viewBox="0 0 512 512" width="100%" height="100%" class="svg-layer wave-fade-in-out" style="--anim-duration: 2s;">
                <svg viewBox="0 0 50 50" x="200" y="-100" width="50" height="50" *ngIf="emot != ''" >
                    <image [attr.href]="'assets/image/star.svg'" width="100%" height="100%" />
                </svg>
            </svg>
            <svg viewBox="0 0 512 512" width="100%" height="100%" class="svg-layer wave-fade-in-out" style="--anim-duration: 2.5s;">
                <svg viewBox="0 0 50 50" x="300" y="-50" width="50" height="50" *ngIf="emot != ''" >
                    <image [attr.href]="'assets/image/star.svg'" width="100%" height="100%" />
                </svg>
            </svg>
            <svg viewBox="0 0 512 512" width="100%" height="100%" class="svg-layer wave-fade-in-out" style="--anim-duration: 3.5s;">
                <svg viewBox="0 0 50 50" x="350" y="-150" width="50" height="50" *ngIf="emot != ''" >
                    <image [attr.href]="'assets/image/star.svg'" width="100%" height="100%" />
                </svg>
            </svg>
            <svg viewBox="0 0 512 512" width="100%" height="100%" class="svg-layer wave-fade-in-out" style="--anim-duration: 2.75s;">
                <svg viewBox="0 0 50 50" x="400" y="-20" width="50" height="50" *ngIf="emot != ''" >
                    <image [attr.href]="'assets/image/star.svg'" width="100%" height="100%" />
                </svg>
            </svg>


<svg viewBox="0 0 512 512" width="100%" height="100%" class="svg-layer wave-animation-updown">
    <!-- Background SVG -->
    <image href="https://www.svgrepo.com/download/406661/mosque.svg" width="100%" height="100%" />
    <!-- Avatar SVG positioned at (100, 125) -->
</svg>

<svg viewBox="0 0 512 512" width="120%" height="120%" class="svg-layer wave-animation-leftright">
    <svg viewBox="0 0 512 512" x="0" y="150" width="512" height="512" *ngIf="emot != ''" >
        <image [attr.href]="'assets/image/wave01.svg'" width="100%" height="100%" />
    </svg>
</svg>

<svg viewBox="0 0 512 512" width="100%" height="100%" class="svg-layer wave-animation-updown">
    <svg viewBox="0 0 512 512" x="0" y="100" width="512" height="512" *ngIf="emot != ''" >
        <image [attr.href]="'assets/image/' + emot + '.svg'" width="100%" height="100%" />
    </svg>
</svg>

<svg viewBox="0 0 512 512" width="120%" height="120%" class="svg-layer wave-animation-leftright2">
    <svg viewBox="0 0 512 512" x="0" y="200" width="512" height="512" *ngIf="emot != ''" >
        <image [attr.href]="'assets/image/wave02.svg'" width="100%" height="100%" />
    </svg>
</svg>



<div class="balloon-text-container">
    <!-- Balloon Text Boxes -->
    <div class="balloon-text-box" *ngIf="textChat02!=''">
        <span class="ballon-text-sm">
            {{ textChat02 }}
        </span>
    </div>

    <!-- Balloon Text Boxes -->
    <div class="balloon-text-box"  *ngIf="textChat01!=''">
        <span class="ballon-text-sm">{{ textChat01 }}</span>
    </div>

    <div class="balloon-text-box"  *ngIf="textChat!=''">
        <span class="ballon-text">{{ textChat }}</span>
    </div>
</div>



<!-- Add more balloon text boxes as needed -->
</div>
