<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>greeting card from rizaq</title>
  <meta name="description" content="greeting card from rizaq">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="greeting card from rizaq">
  <meta property="og:description" content="greeting card from rizaq">
  <meta property="og:image" content="https:\\cards.polaris.my.id\src\assets\image\sample.png">
  <!-- <meta property="og:url" content="https://yourwebsite.com"> -->
  <meta property="og:type" content="website">

  <!-- Twitter Card Meta Tags -->
  <!-- <meta name="twitter:card" content="summary_large_image"> -->
  <!-- <meta name="twitter:title" content="Your Website Title"> -->
  <!-- <meta name="twitter:description" content="Your website description"> -->
  <!-- <meta name="twitter:image" content="URL_to_your_image"> -->

  <!-- Other Meta Tags -->
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <div class="greeting-card-container" (click)="test()">
        <!-- STARRRRRRR  -->
                <svg viewBox="0 0 512 512" width="100%" height="100%" class="svg-layer wave-fade-in-out" style="--anim-duration: 2.25s;">
                    <svg viewBox="0 0 50 50" x="50" y="-150" width="50" height="50" *ngIf="emot != ''" >
                        <image [attr.href]="'assets/image/star.svg'" width="100%" height="100%" />
                    </svg>
                </svg>
                <svg viewBox="0 0 512 512" width="100%" height="100%" class="svg-layer wave-fade-in-out" style="--anim-duration: 3s;">
                    <svg viewBox="0 0 50 50" x="100" y="0" width="50" height="50" *ngIf="emot != ''" >
                        <image [attr.href]="'assets/image/star.svg'" width="100%" height="100%" />
                    </svg>
                </svg>
                <svg viewBox="0 0 512 512" width="100%" height="100%" class="svg-layer wave-fade-in-out" style="--anim-duration: 2s;">
                    <svg viewBox="0 0 50 50" x="200" y="-100" width="50" height="50" *ngIf="emot != ''" >
                        <image [attr.href]="'assets/image/star.svg'" width="100%" height="100%" />
                    </svg>
                </svg>
                <svg viewBox="0 0 512 512" width="100%" height="100%" class="svg-layer wave-fade-in-out" style="--anim-duration: 2.5s;">
                    <svg viewBox="0 0 50 50" x="300" y="-50" width="50" height="50" *ngIf="emot != ''" >
                        <image [attr.href]="'assets/image/star.svg'" width="100%" height="100%" />
                    </svg>
                </svg>
                <svg viewBox="0 0 512 512" width="100%" height="100%" class="svg-layer wave-fade-in-out" style="--anim-duration: 3.5s;">
                    <svg viewBox="0 0 50 50" x="350" y="-150" width="50" height="50" *ngIf="emot != ''" >
                        <image [attr.href]="'assets/image/star.svg'" width="100%" height="100%" />
                    </svg>
                </svg>
                <svg viewBox="0 0 512 512" width="100%" height="100%" class="svg-layer wave-fade-in-out" style="--anim-duration: 2.75s;">
                    <svg viewBox="0 0 50 50" x="400" y="-20" width="50" height="50" *ngIf="emot != ''" >
                        <image [attr.href]="'assets/image/star.svg'" width="100%" height="100%" />
                    </svg>
                </svg>
    
    
        <svg viewBox="0 0 512 512" width="100%" height="100%" class="svg-layer wave-animation-updown">
            <!-- Background SVG -->
            <image href="https://www.svgrepo.com/download/406661/mosque.svg" width="100%" height="100%" />
            <!-- Avatar SVG positioned at (100, 125) -->
        </svg>
    
        <svg viewBox="0 0 512 512" width="120%" height="120%" class="svg-layer wave-animation-leftright">
            <svg viewBox="0 0 512 512" x="0" y="150" width="512" height="512" *ngIf="emot != ''" >
                <image [attr.href]="'assets/image/wave01.svg'" width="100%" height="100%" />
            </svg>
        </svg>
    
        <svg viewBox="0 0 512 512" width="100%" height="100%" class="svg-layer wave-animation-updown">
            <svg viewBox="0 0 512 512" x="0" y="100" width="512" height="512" *ngIf="emot != ''" >
                <image [attr.href]="'assets/image/' + emot + '.svg'" width="100%" height="100%" />
            </svg>
        </svg>
    
        <svg viewBox="0 0 512 512" width="120%" height="120%" class="svg-layer wave-animation-leftright2">
            <svg viewBox="0 0 512 512" x="0" y="200" width="512" height="512" *ngIf="emot != ''" >
                <image [attr.href]="'assets/image/wave02.svg'" width="100%" height="100%" />
            </svg>
        </svg>
    
    
    
        <div class="balloon-text-container">
            <!-- Balloon Text Boxes -->
            <div class="balloon-text-box" *ngIf="textChat02!=''">
                <span class="ballon-text-sm">
                    {{ textChat02 }}
                </span>
            </div>
    
            <!-- Balloon Text Boxes -->
            <div class="balloon-text-box"  *ngIf="textChat01!=''">
                <span class="ballon-text-sm">{{ textChat01 }}</span>
            </div>
    
            <div class="balloon-text-box"  *ngIf="textChat!=''">
                <span class="ballon-text">{{ textChat }}</span>
            </div>
        </div>
    
    
    
    <!-- Add more balloon text boxes as needed -->
    </div>
    
</body>
</html>



